<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Criar Destino</title>
  <link rel="stylesheet" th:href="@{/css/form-style.css}">
</head>
<body>
<div class="container">
  <h1>Criar Novo Destino</h1>
  <div th:if="${erro}" class="alert-error">
    <p th:text="${erro}"></p>
  </div>
  <form th:action="@{/destino/ui/salvar}" th:object="${destino}" method="post" class="form-card">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" th:field="*{nome}" placeholder="Nome do destino" required>
    </div>

    <div class="form-group">
      <label for="pais">País:</label>
      <select id="pais" th:field="*{pais.id}" required>
      <option value="">Selecione um país...</option>
        <option th:each="pais : ${todosPaises}" th:value="${pais.id}" th:text="${pais.nome}"></option>
      </select>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn">Cadastrar</button>
    </div>
  </form>
</div>
</body>
</html>
