<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Destinos</title>
  <link rel="stylesheet" th:href="@{/css/table-style.css}">
</head>
<body>
<div class="container">
  <a class="btn btn-primary" th:href="@{/}">Voltar</a>
  <h1>Lista de Destinos</h1>
  <a th:href="@{/destino/ui/criar}" class="btn-create">Criar Novo Destino</a>
  <table class="client-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>País</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="destino : ${todosDestinos}">
      <td th:text="${destino.id}"></td>
      <td th:text="${destino.nome}"></td>
      <td th:text="${destino.pais.nome}"></td>
      <td>
        <a th:href="@{/destino/ui/editar/{id}(id=${destino.id})}" class="btn-edit">Editar</a>
        <a th:href="@{/destino/ui/visualizar/{id}(id=${destino.id})}" class="btn-view">Visualizar</a>
        <a th:href="@{/destino/ui/deletar/{id}(id=${destino.id})}" class="btn-delete">Deletar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
