<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Visualizar Destino</title>
  <link rel="stylesheet" th:href="@{/css/visualizar-style.css}">
</head>
<body>
<div class="container">
  <h1>Detalhes do Destino</h1>

  <div class="card">
    <p><strong>ID:</strong> <span th:text="${destino.id}">1</span></p>
    <p><strong>Nome:</strong> <span th:text="${destino.nome}">Rio de Janeiro</span></p>
    <p><strong>País:</strong> <span th:text="${destino.pais.nome}">Brasil</span></p>
  </div>

  <a href="/destino/ui/todos" class="botao-voltar">Voltar para lista</a>
</div>
</body>
</html>