<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Pacotes</title>
  <link rel="stylesheet" th:href="@{/css/table-style.css}">
</head>
<body>
<div class="container">
  <a class="btn btn-primary" th:href="@{/}">Voltar</a>
  <h1>Lista de Pacotes</h1>
  <a th:href="@{/pacote/ui/criar}" class="btn-create">Criar Novo Pacote</a>

  <table class="client-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Destinos</th>
      <th>Dias</th>
      <th>Preço</th>
      <th>Tipo</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pacote : ${todosPacotes}">
      <td th:text="${pacote.id}"></td>
      <td th:text="${pacote.nome}"></td>
      <td>
        <ul>
          <li th:each="destino : ${pacote.destinos}" th:text="${destino.nome}"></li>
        </ul>
      </td>
      <td th:text="${pacote.dias}"></td>
      <td th:text="${#numbers.formatDecimal(pacote.preco, 1, 'POINT', 2, 'COMMA')}"></td>
      <td th:text="${pacote.tipo}"></td>
      <td>
        <a th:href="@{/pacote/ui/editar/{id}(id=${pacote.id})}" class="btn-edit">Editar</a>
        <a th:href="@{/pacote/ui/visualizar/{id}(id=${pacote.id})}" class="btn-view">Visualizar</a>
        <a th:href="@{/pacote/ui/deletar/{id}(id=${pacote.id})}" class="btn-delete">Deletar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
