<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Visualizar Serviço</title>
  <link rel="stylesheet" th:href="@{/css/visualizar-style.css}">
</head>
<body>
<div class="container">
  <h1>Detalhes do Serviço</h1>

  <div class="card">
    <p><strong>ID:</strong> <span th:text="${servico.id}"></span></p>
    <p><strong>Nome:</strong> <span th:text="${servico.nome}"></span></p>
    <p><strong>Preço:</strong> <span th:text="${servico.preco}"></span></p>
  </div>

  <a href="/servico/ui/todos" class="botao-voltar">Voltar para lista</a>
</div>
</body>
</html>
