<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <title>Lista de Clientes</title>
  <link rel="stylesheet" th:href="@{/css/table-style.css}">
</head>
<body>
<div class="container">
  <a class="btn btn-primary" th:href="@{/}">Voltar</a>
  <h1>Lista de Clientes</h1>
  <a th:href="@{/cliente/ui/criar}" class="btn-create">Criar Novo Cliente</a>
  <table class="client-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Tipo</th>
      <th>Documento</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cliente: ${todosClientes}">
      <td th:text="${cliente.id}"></td>
      <td th:text="${cliente.nome}"></td>
      <td th:text="${cliente.telefone}"></td>
      <td th:text="${cliente.email}"></td>
      <td th:text="${cliente.tipo}"></td>
      <td th:text="${cliente.documento}"></td>
      <td>
        <a th:href="@{/cliente/ui/{id}/editar(id=${cliente.id})}" class="btn-edit">Editar</a>
        <a th:href="@{/cliente/ui/visualizar/{id}(id=${cliente.id})}" class="btn-view">Visualizar</a>
        <a th:href="@{/cliente/ui/deletar/{id}(id=${cliente.id})}" class="btn-delete">Deletar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
