<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar País</title>
    <link rel="stylesheet" th:href="@{/css/form-style.css}">
</head>
<body>
<div class="container">
    <h1>Editar País</h1>

    <form th:action="@{'/pais/ui/atualizar/' + ${pais.id}}" th:object="${pais}" method="post" class="form-card">
        <input type="hidden" name="_method" value="patch"/>
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" required>
        </div>

        <div class="form-group">
            <label for="continente">Continente:</label>
            <select id="continente" th:field="*{continente}" required>
                <option th:each="cont : ${continentes}" th:value="${cont}" th:text="${cont}"></option>
            </select>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn">Atualizar</button>
        </div>
    </form>
</div>
</body>
</html>
