<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Visualizar País</title>
  <link rel="stylesheet" th:href="@{/css/visualizar-style.css}">
</head>
<body>
<div class="container">
  <h1>Detalhes do País</h1>

  <div class="card">
    <p><strong>ID:</strong> <span th:text="${pais.id}"></span></p>
    <p><strong>Nome:</strong> <span th:text="${pais.nome}"></span></p>
    <p><strong>Continente:</strong> <span th:text="${pais.continente}"></span></p>
  </div>

  <a href="/pais/ui/todos" class="botao-voltar">Voltar para lista</a>
</div>
</body>
</html>
